* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #222831;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

button {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid black;
    font-size: 14px;
    background-color: #EEE;
    margin: 4px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    box-sizing: content-box;
    background-color: white;
}

.grid-controls, 
.drawing-modes {
    display: flex;
    justify-content: space-evenly;
}